body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3f3f36b;
    scroll-behavior: smooth;
}

:root {
    --yellow: yellow;
    --main-blue: #60a5fa;

}

.heading_title {
    color: #6c757d;
    position: relative;
    font-size: 25px;
    font-weight: 500;
}

.heading_title::before,
.heading_title::after {
    content: '';
    position: absolute;
    bottom: -5px;
    width: 30px;
    height: 4px;
}

.heading_title::before {
    left: 0;
    background-color: var(--main-blue);
}

.heading_title::after {
    left: 25px;
    background-color: var(--yellow);
}

/* scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #60a5fa;
    border-radius: 31px;
}

::-webkit-scrollbar-track {
    background-color: #f3f3f3;
}

::-webkit-scrollbar {
    background-color: #60a5fa;
    width: 8px;

}

/* ===========
=== side-bar
============= */
.side-bar {
    position: relative;
    perspective: 1000px;
}



@media (min-width: 1024px) {
    .side-bar::before {
        position: absolute;
        content: '';
        top: 0;
        right: 10%;
        width: 3px;
        height: 100%;
        background-color: var(--yellow);
    }
}

/* ===========
=== Resume page
============= */
.resume_boxes {
    position: relative;
}

.resume_boxes::before {
    position: absolute;
    content: '';
    top: 0;
    left: -20px;
    width: 3px;
    height: 100%;
    background-color: #d7d2d2;
}

.resume_boxes .resume-box {
    position: relative;
}

.resume_boxes .resume-box::before {
    position: absolute;
    content: '';
    top: 26px;
    left: -26px;
    width: 12px;
    height: 12px;
    border: 2px solid var(--main-blue);
    border-radius: 50%;
    background-color: white;
}

.resume_boxes .resume-box::after {
    position: absolute;
    content: '';
    top: 31px;
    left: -15px;
    width: 15px;
    height: 2px;
    background-color: var(--main-blue);
}

/* ===========
=== Navbar 
============= */
nav .active {
    color: #facc15;
}